In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [163]:
orig_df = pd.DataFrame({
    "Type": ["FF", "ETH", "CAS", "CAS", "CAS", "FF", "ETH", "CAS", "FF", "ETH", "CAS"],
    "Price": ['$', '$$', '$$', '$$$', '$', '$$', '$', '$', '$$$', '$$', '$$'],
    "Neighborhood": ["OAK", "SQR", "SQR", "SHD", "OAK", "SQR", "SQR", "SHD", "OAK", "SHD", "SHD"],
    "Restriction": ["VEG", "GF", "N", "VEG", "VEG", "N", "N", "GF", "N", "VEG", "GF"],
    "OK": [0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1]
})

In [164]:
df

Price  Type  OK
0      CAS   0     1
             1     1
       ETH   1     1
       FF    0     1
1      CAS   0     1
             1     1
       ETH   0     1
             1     1
       FF    1     1
2      CAS   0     1
       FF    0     1
Name: count, dtype: int64

In [173]:
df = orig_df[["Price", "Restriction", "OK"]].groupby("Price").value_counts()
pd.DataFrame(df)

                      count
Price Restriction OK
$     GF          0       1
      N           1       1
      VEG         0       1
                  1       1
$$    GF          0       1
                  1       1
      N           0       1
                  1       1
      VEG         1       1
$$$   N           0       1
      VEG         0       1

In [169]:
# df = pd.DataFrame(df)

In [170]:
pd.DataFrame(df)
# df

                       count
Price Neighborhood OK
$     OAK          0       1
                   1       1
      SHD          0       1
      SQR          1       1
$$    SHD          1       2
      SQR          0       2
                   1       1
$$$   OAK          0       1
      SHD          0       1

In [157]:
df = df.reset_index()
df.index = df.Price
df = df.drop(columns="Price")

In [158]:
df

      Type  OK  count
Price
0      CAS   0      1
0      CAS   1      1
0      ETH   1      1
0       FF   0      1
1      CAS   0      1
1      CAS   1      1
1      ETH   0      1
1      ETH   1      1
1       FF   1      1
2      CAS   0      1
2       FF   0      1

In [80]:
df.loc[0].query("OK == 0")

      Type  OK  count
Price
0      CAS   0      1
0       FF   0      1

In [279]:
def get_counts(df, predictor, split):
    cols = np.array([predictor, split, "OK"])
    counts = df[cols].groupby(predictor).value_counts()
    
    return counts.reset_index()

def H(df, predictor):
    splits = np.delete(df.drop(columns="OK").columns.values, np.where(df.columns.values == predictor))
    # for split in splits:
    split = "Type"
    counts = get_counts(df, predictor, split)
    vals = counts.value_counts("Price").index.values
    for val in vals:
        if len(counts.value_counts().loc[val].value_counts("OK")) == 1:
            counts = counts.loc[np.delete(counts.index, np.where(counts.index.values == val))]
    return counts

In [280]:
H(orig_df, "Price").value_counts().loc['$$']

# pd.DataFrame(orig_df, "Price", )

Type  OK  count
CAS   0   1        1
      1   1        1
ETH   0   1        1
      1   1        1
FF    1   1        1
Name: count, dtype: int64

In [275]:
pd.DataFrame(df).loc['$$'].value_counts("OK")

OK
1    3
0    2
Name: count, dtype: int64